.homeNavigationContainer {
  margin-top: 112px;
  padding: 30px 60px;
  border-bottom: 1px solid #5b5c5d;
  border-top: 1px solid #5b5c5d;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 36px;
  overflow: auto;

  @media (max-width: 1200px) {
    margin-top: 0;
  }

  @media (max-width: 768px) {
    padding: 18px 21px;
  }
}

.homeNavigationContainer a {
  position: relative;
  text-wrap: nowrap;
}

.homeNavigationContainer a:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -18px;
  width: 1px;
  height: 38px;
  background: #5b5c5d;
  z-index: -1;
}
